.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  margin: 45px;
  border-radius: 55px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;

  .contentWrapper {
    flex: 6;
    padding: 1rem;
  }
}
