.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin-bottom: 2rem;
  padding: 0 1rem;
  .user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-info {
      margin-right: 10px;
      .notifications {
        display: flex;
        justify-content: space-around;
        margin-bottom: 8px;
        .profile-btn {
          font-size: 22px;
        }
      }
    }
    .user {
      .open-profile {
        font-size: 15px;
        position: relative;
        top: -12px;
        right: -8px;
      }
    }
  }

  .main-info {
    background-color: white;
    padding-left: 1rem;

    &__name {
      font-size: 24px;
      font-weight: bold;
      text-align: left;
      margin: 0 0 7px 0;
    }
    &__date {
      display: block;
      color: gray;
      font-size: 13px;
      text-align: left;
    }
  }
}

$speed: 0.5s;

.btn-flip {
  padding-right: 2px;
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 30px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;

  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }

    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }

  &:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #1e201f;
    display: block;
    transition: $speed;
    position: absolute;
    background: #e94848;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }

  &:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #141415;
    display: block;
    padding: 0 16px;
    line-height: 30px;
    transition: $speed;
    position: relative;
    background: #44d781;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
