.right-side {
  max-width: 35%;
  height: 90vh;
  background-color: rgba(217, 219, 221, 0.796);
  position: relative;
  flex: 3;
  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 100px;
    right: 100%;
    width: 55px;
    border-top-right-radius: 55px;
    box-shadow: 0 -55px 0 0 rgba(217, 219, 221, 0.796);
  }
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 100px;
    right: 100%;
    width: 55px;
    bottom: 0;
    border-bottom-right-radius: 55px;
    box-shadow: 0 55px 0 0 rgba(217, 219, 221, 0.796);
  }
}
