.project-wrapper {
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;

    .search-project {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .results {
            border-radius: 10px;
            background-color: rgb(250, 246, 246);
            margin-left: 10px;
            margin-bottom: 10px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                height: 50%;
              }
              &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: transparent;
                margin-top: 10px;
                margin-bottom: 10px;
              }
              &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background: rgba(0,0,0,0.3);
              }
              &::-webkit-scrollbar-thumb:hover{
                  background: rgba(0,0,0,0.5);
              }
              &::-webkit-scrollbar-thumb:active{
                  background: rgba(0,0,0,.9);
              }

        }
    }
    
    .project-edit {
        border: 1px solid rgb(202, 23, 23);
        width: 70%;
        margin: 10px;
    }
}